[Desktop Entry]
Type=Application
Name=@APP_NAME@
Comment=@APP_COMMENT@
Exec=@INSTALL_DIR@/run-cipher-snagem-editor.sh %f
Icon=@ICON_NAME@
Terminal=false
Categories=Game;Utility;Development;
StartupNotify=true
StartupWMClass=@EXECUTABLE@
